<div class="section-top-border container">
    <div class="progress-table-wrap">
        <div class="progress-table">
            <blockquote class="generic-blockquote">
                <h3>
                    購物車
                </h3>
            </blockquote>
            <br>

            <% if(result != null) { %>
            <% for(var i = 0;i < result.orders.length; i++){ %>
            <div class="table-row" id="table-row-<%= i %>">
                <div class="row no-margin" style="width: 100%">
                    <div class="col-sm-12 col-md-8">
                        <div class="country">
                            <% if(result.orders[i].orderImg){%>
                            <img src="<%= result.orders[i].orderImg %>" width="45%" alt="flag">
                            <% } %>
                            <div>
                                <p class="menu-title"><%= result.orders[i].orderTitle %></p>
                                <% for(var j = 0; j < result.orders[i].orderContents.length; j++) { %>
                                <%= result.orders[i].orderContents[j].item %>
                                <% if(result.orders[i].orderContents[j].item != ''){ %>
                                <%= "," %>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 text-right align-self-center">
                        <div class="inline-flex banner-left">
                            <div class="menu-title mr-15">NT$ <%= result.orders[i].amount %> 元
                            </div>
                            <% if(result.orders[i].status == 'not-confirmed'){ %>
                            <a href="#" class="genric-btn radius danger removeItems" data-toggle="modal"
                                data-target="#Modal-" onclick="removeItems('<%= result.orders[i].oid %>')">刪除</a>
                            <% } %>
                        </div>
                    </div>

                </div>
            </div>
            <% } %>

            <hr>
            <div class="text-right banner-left" style="padding: 15px">
                <h5 id="subtotal" class="mb-30">小計：<%= result.subTotal %></h4>
                <h5 id="freight" class="mb-30">運費：<span id="freight"><%= result.freight %></span></h4>
                <h5 id="freight" style="color: #8490ff">達達幣折抵：<span id="freight"><%= Math.floor(result.dadaCoin/100) %></span></h4>
                <hr>
                <h5 id="sum" class="mb-30">總計：<%= result.sum %></h4>
                <a href="#" class="primary-btn" style="border-radius: 3px" onclick="confirm()">確定，並前往結帳</a>

            </div>
            <% } %>


            <div class="text-center" id="payment" style="visibility:hidden; padding-top: 70px">
                <hr>
                <span style="font-weight: bold">支付方式：</span>
                <img width="150px" src="/img/line.png" id="lineImg" alt="">
                <img width="150px" src="/img/JKOSPay.jpeg" id="jkospayImg" alt="">
                <img width="150px" src="/img/richart.png" id="richartImg" alt="">
                <img width="150px" src="/img/CTBC.png" id="ctbcImg" alt="">
            </div>

        </div>
    </div>
</div>

<script>

    var isMobile = false;
    $(document).ready(function() {
        var browser = { versions: function () { var u = navigator.userAgent, app = navigator.appVersion; return { mobile: !!u.match(/AppleWebKit.*Mobile.*/), ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), android: u.indexOf("Android") > -1 || u.indexOf("Linux") > -1, iPhone: u.indexOf("iPhone") > -1, iPad: u.indexOf("iPad") > -1 }; }(), language: (navigator.browserLanguage || navigator.language).toLowerCase() }; $("#aa2").append("userAgent 內容: <BR/>" + navigator.userAgent + "<BR/><BR/>"); $("#aa2").append("是否為移動終端: " + browser.versions.mobile + "<BR/>"); $("#aa2").append("是否 ios: " + browser.versions.ios + "<BR/>"); $("#aa2").append("是否 android: " + browser.versions.android + "<BR/>");

        isMobile = browser.versions.mobile

    })

    function removeItems(itemId) {
        $.ajax({
            url: '/cart/deleteCartList',
            type: 'post',
            dataType: "json",
            data: {
                id: itemId
            },
            error: function (err) {
                if (err) throw err
                console.log('bad job');

            },
            success: function (response) {
                console.log('good job')
                console.log(response);
                location.reload()
            }
        });
    }

    function confirm() {
        $('.removeItems').remove();
        $('#payment').css('visibility', 'visible');
        console.log('confirm');
        

        $.ajax({
            url: '/cart/updateCartList',
            type: 'get',
            dataType: "json",
            error: function (err) {
                if (err) throw err
                console.log('bad job');

            },
            success: function (response) {
                console.log('good job')
                console.log(response);
            }
        });

        $('html, body').animate({
            scrollTop: $('#payment').offset().top
        }, "show");
    }

    $("#lineImg").on('click', function() {
        if (!isMobile) { // 電腦版
            Swal.fire({
                title: 'Line掃碼支付',
                html: '開啟Line -> 錢包 -> 掃描 -> 掃碼',
                imageUrl: '/img/myLine.jpg',
                imageWidth: 400,
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        } else { // 手機版
            Swal.fire({
                title: 'Line輸入編號支付',
                html: '開啟Line -> 錢包 -> 轉帳 -> 掃描 -> 下方輸入代碼' +
                    '<br>' +
                    '代碼： 24280711086',
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        }

    })

    $("#jkospayImg").on('click', function() {
        if (!isMobile) { // 電腦版
            Swal.fire({
                title: '街口支付',
                html: '開啟街口支付 -> 掃描條碼',
                imageUrl: '/img/myJKOSpay.png',
                imageWidth: 400,
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        } else { // 手機版
            Swal.fire({
                title: '街口支付',
                html: '<a href="https://www.jkopay.com/transfer?j=Transfer:901053917">點我開啟街口支付轉帳</a>',
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        }

    })

    $("#richartImg").on('click', function() {
        if (!isMobile) { // 電腦版
            Swal.fire({
                title: 'Richart 轉帳',
                html: '開啟Richart -> 收付 -> 轉帳 -> 掃碼',
                imageUrl: '/img/myRichart.png',
                imageWidth: 400,
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        } else { // 手機版
            Swal.fire({
                title: 'Richart 轉帳',
                html: '<a href="https://richart.tw/TSDIB_RichartWeb/RC04/RC040300?token=WlPgAiogkrA%3D">點我開啟Richart APP轉帳</a>',
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        }

    })

    $("#ctbcImg").on('click', function() {
        if (!isMobile) { // 電腦版
            Swal.fire({
                title: '中國信託轉帳',
                html: '開啟中信 -> 轉帳 -> QRcode轉帳',
                imageUrl: '/img/myCTBC.png',
                imageWidth: 400,
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        } else { // 手機版
            Swal.fire({
                title: '中國信託轉帳',
                html: '開啟中信 -> 轉帳 -> QRcode轉帳',
                imageUrl: '/img/myCTBC.png',
                imageWidth: 400,
                width: 600,
                padding: '3em',
                background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                backdrop: 'rgba(0,0,123,0.4) url("https://sweetalert2.github.io/images/nyan-cat.gif") left top no-repeat'
            })
        }

    })


</script>