<% if(permission == 'admin') {%>
<div class="section-top-border container">
    <h3 class="mb-30">Table</h3>
    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">
                <div class="user-pick">#</div>
                <div class="user-name">Name</div>
                <div class="user-orders">orders</div>
                <div class="user-sum">Sum</div>
                <div class="user-payment">Payment</div>
            </div>
            <% for(var i = 0; i < result.length; i++) { %>
            <div class="table-row">
                <div class="user-pick">
                    <input type="checkbox" name="user-picker" id="user-picker-<%= result[i]._id %>">
                </div>
                <div class="user-name">
                    <%= result[i].name %>
                </div>
                <div class="user-orders">
                    <ol class="ordered-list">
                        <% for(var j = 0; j < result[i].orders.length; j++) { %>
                        <li>
                            <span>
                                <span style="font-weight: bold">
                                    <%= result[i].orders[j].orderTitle %>
                                    , 小計：
                                    <%= result[i].orders[j].amount %></span>
                                <% if(result[i].orders[j].status == 'confirmed'){ %>
                                <span style="font-weight: bold">
                                    <% } else {%>
                                    <span style="font-weight: bold; color: red">
                                        <% } %>
                                        , status:
                                        <%= result[i].orders[j].status %></span>
                                    <ol class="ordered-list-alpha">
                                        <% for(var k = 0; k < result[i].orders[j].orderContents.length; k++) { %>
                                        <li>
                                            <span>
                                                <%= result[i].orders[j].orderContents[k].item %>
                                                <%= result[i].orders[j].orderContents[k].price %>
                                            </span>
                                        </li>
                                        <% } %>
                                    </ol>
                                </span>
                        </li>
                        <% } %>
                    </ol>

                </div>
                <div class="user-sum">
                    <%= result[i].sum %>
                </div>
                <div class="user-payment">
                    <% if(result[i].payment) { %>
                    <button class="genric-btn success radius small" style="height: fit-content"><%= result[i].payment %></button>
                    <% } else { %>
                    <button class="genric-btn danger radius small" style="height: fit-content" onclick="payment('<%= result[i]._id %>')"><%= result[i].payment %></button>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <a href="#" class="genric-btn info radius small" onclick="expired()">Expired</a>
</div>
<% } else {%>
權限錯誤
<% }%>


<script>
    $('input:checkbox').on('click', () => {
        $('input:checkbox:checked').each(function (e) {
            console.log(this.id);

        })
    })

    function expired() {
        var orderId = new Array();
        $('input:checkbox:checked').each(function (e) {
            console.log(this.id);
            orderId.push(this.id)
        })
        console.log(orderId)

        $.ajax({
            url: '/dashboard/updateOrders',
            type: 'post',
            dataType: "json",
            data: {
                orderId
            },
            error: function (err) {
                if (err) throw err
                console.log('bad job');

            },
            success: function (response) {
                console.log('good job')
                console.log(response);
            }
        });
        location.reload()

    }

    function payment(orderId) {
        $.ajax({
            url: '/dashboard/updateOrdersPayment',
            type: 'post',
            dataType: 'json',
            data: {
                orderId
            },
            error: function (err) {
                if (err) throw err
                console.log('bad job');
            },
            success: function (response) {
                console.log('good job');
                console.log(response);
            }
        });
        location.reload()
        
    }
</script>